@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@redcolor: #E21E22;

html {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Roboto';
	color: white;
	font-size: 12pt;

	background: url('../images/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
}

/** HEADER **/

.bullpen-navbar{
	margin-top: 12px;

	.navbar-header{
		height: 92px;
	}
}

.navbar-form {
	font-weight: 500;
	line-height: 80px;
	display: inline-block;
	left: 0;
	right: 0;
	margin:0;
	float:none;
	box-shadow: none;

	input[type="text"]{
		color: #fff;
		border-right: 0;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-color: #cccccc;
	}

	::-webkit-input-placeholder { /*
		Chrome/Opera/Safari */
		color: white;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: white;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: white;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: white;
	}

	.input-group-addon{
		background: transparent;
		border-left: 0;
	}
}

@media (min-width: 992px){
	.navbar-form .input-group>.form-control {
		width: 300px;
	}
}

.bullpen-collapse{
	line-height: 60px;
	text-align: center;
}

.navbar-right {
	line-height: 80px;
}

.btn-bullpen {
	font-weight: 700;
	background: transparent;
	outline: 0;
	color: white;
	border: 1px solid #ccc;
	webkit-transition: 0.2s;
	-ms-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.btn-bullpen:hover {
	color: #e5e5e5;
	outline: 0;
	border: 1px solid #bcbcbc;
	webkit-transition: 0.2s;
	-ms-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.btn-bullpen:focus {
	outline: 0;
	color: #e5e5e5;
	border: 1px solid #bcbcbc;
	webkit-transition: 0.2s;
	-ms-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.bullpen-user-account{
	span{
		font-weight: 300;
		margin-right: 20px;
	}
}

#signInForm{
	input{
		color: #fff;
		border: 1px solid #ccc;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	span.required{
		border-bottom: 1px solid;
		border-bottom-color: @redcolor;
	}	
}

.warning-msg{
	font-weight: 500;
	font-size: 12pt;
	width: 100%;
	height: 40px;
	border: 2px solid #e21e22;
	padding: 10px;
	margin-bottom: 24px;
}

@media (max-width: 767px) {
	.bullpen-collapse{
		line-height: 10px;
		text-align: left;
	}

	.navbar-form {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: -10px;
	}

	.navbar-nav li a {
		line-height: 10px;
	}
}

.navbar-toggle{
	.icon-bar{
		background-color: #fff;
	}
}


.header_line{
	hr{
		margin: 0;
	}
}


/** GAME PAGE **/

.game-score{
	width: 60%;
	text-align: center;
	margin-bottom: 24px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: 3px solid white;

	div {
		font-size: 11pt;
		margin-bottom: 3px;
		text-align: center;
		font-weight: 300;
	}

	a{
		font-weight: 700;
	}

	input[type="number"]{
		background: transparent;
		border: 1px solid #ccc;
	}
}

.table{
	font-size: 10pt;
}

.table thead{
	background-color: @redcolor;
	th{
		font-weight: 500;
	}
}

.table tbody{
	color: #232628;

	tr{
		font-weight: 400;
		height: 60px;

		td{
			vertical-align: middle;
			a{
				color: #232628;
				text-decoration: none;
				font-weight: 500;
				webkit-transition: color 0.2s;
				-ms-transition: color 0.2s;
				-moz-transition: color 0.2s;
				-o-transition: color 0.2s;
				transition: color 0.2s;
			}
			a:hover{
				color: #6b7175;
				webkit-transition: color 0.2s;
				-ms-transition: color 0.2s;
				-moz-transition: color 0.2s;
				-o-transition: color 0.2s;
				transition: color 0.2s;
			}

			select{
				width: 100%;
			}

			input{
				width: 50px;
			}
		}
	}
	tr:nth-child(even){
		background-color: #F2F2F2;
	}
	tr:nth-child(odd){
		background-color: #E8E8E8;
	}
}

.team-name{
	font-size: 20pt;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 20px;

	span{
		border-bottom: 2px solid;
		border-bottom-color: #e21e22;
	}
}

/** TEAM PAGE **/
.team-players{
	h3{
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 12px;
		span{
			border-bottom: 2px solid;
			border-bottom-color: @redcolor;
		}
	}
}

.list-group{
	a{
		font-weight: 700;
		color: #fff;
		background: transparent;
	}	
	a:hover{
		color: #fff;
		background-color: rgba(213, 213, 213, 0.5);
	}
}


/** PLAYER PAGE **/
.recent-game{
	h4{
		color: #fff;
		span{
			border-bottom-color: #e21e22;
		}
	}

	h3{
		font-weight: 700;
		margin-top: 10px;
		margin-bottom: 6px;
		span{
			border-bottom: 2px solid;
			border-bottom-color: @redcolor;
		}
	}

	div a{
		line-height: 30px;
		vertical-align: middle;

		span.label{
			vertical-align: middle;
		}
	}

	.recent-game-date{
		font-weight: 400;
	}
}


h4{
	letter-spacing: 2px;
	color: #e4e2e2;
	font-size: 11pt;
	text-transform: uppercase;
	font-weight: 700;

	span{
		border-bottom: 2px solid;
		border-bottom-color: #e4e2e2;
	}
}

h3{
	font-weight: 700;
	margin: 0;
}

h2{
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 14px;

	span{
		border-bottom: 2px solid;
		border-bottom-color: #e21e22;
	}
}


h1 {
	height: 10px;
	h2 {
		width: 10px;
	}
}

.user-account{
	h3{
		a{
			font-weight: 700;

			border-bottom: 2px solid;
			border-bottom-color: @redcolor;

		}
	}

	.upgrade-request{
		font-weight: 500;
		.time{
			font-weight: 700;
		}
	}
}

.submitModal {
	color: #3a3a3a;

	.modal-header{
		background-image: url('/images/modal-header.jpg');
		background-size: 598px 50px;

		button{
			color: #fff;
		}
	}

	.modal-body{
		select{
			width: 100%;
		}
		label{
			font-weight: 500;
		}
	}

	.loader {
		float: right;
		border: 5px solid #FFFAFA; /* super light red (basically grey) */
		border-top: 5px solid @redcolor;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		animation: spin 0.75s linear infinite;
		-webkit-animation: spin 0.75s linear infinite;
	}
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

}

/* FOOTER */

.footer{
	margin-top: 14px;
	margin-left: 24px;
	margin-right: 24px;
	padding: 0;
	position: relative;
}

.project_message{
	width: 100%;
	font-weight: 400;
	font-size: 7pt;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	text-align: right;
}

.footer_line{
	width: 100%;

	hr{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.copyright_msg{
	font-weight: 400;
	font-size: 7pt;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	display: inline-block;
	float: right;
	margin-bottom: 10px;
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	webkit-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}
a:hover, a:focus{
	color: #d5d5d5;
	text-decoration: none;
	webkit-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

select{
	font-size: 12pt;
	font-weight: 700;
	width: 300px;
	background: transparent;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #cccccc;
	cursor: pointer;
	padding: 5px 3px;

	option{
		font-size: 11pt;
		color: #2c2c2c;
		padding: 3px;
	}
}

@media (max-width: 490px){
	select{
		width: 100%;
	}
}

input[type="email"], input[type="password"] , input[type="text"] {
	background-color: transparent;
	color: #fff;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #ccc;
}
input[type="number"]{
	background: transparent;
	border: 1px solid #ccc;
}

/** 404 PAGE **/

.content-header {
	margin-top: 60px;
	padding: 8px 0;
	text-align: center;

	a{
		-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
		-ms-transition: opacity 02s ease-in-out;
		-o-transition: opacity 0.2s ease-in-out;
		transition: opacity 0.2s ease-in-out;
	}

	a:hover{
		opacity: 0.8;
		filter: alpha(opacity=80);
	}
}

.content404{
	margin-top: 150px;

	.col-md-12{
		text-align: center;	
	}

	.description{
		font-size: 14pt;
		font-weight: 500;
	}

}