<div class="footer">
	<div class="project_message">A project created for CSC309 @ UofT.</div>
	<div class="footer_line"><hr /></div>
	<div class="copyright_msg">© 2016 // All rights belong to their respective owners.</div>
</div>
