<nav class="navbar bullpen-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bullpen-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img alt="The Bullpen" height="60px" src="/images/logo3.png">
			</a>
		</div>


		<div class="collapse navbar-collapse bullpen-collapse" id="bullpen-navbar-collapse">

			<form novalidate class="navbar-form">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search.." data-ng-model="form.query">
						<div class="input-group-addon">
							<input type="image" src="/images/search.png" alt="Submit" data-ng-disabled="(!form.query || form.query.length == 0 || !enableSearch)" data-ng-click="search()"	>
						</div>
					</div>
				</div>
			</form>

			<div class="navbar-right">
				<div data-ng-show="!hasAccount">
					<a class="btn btn-bullpen" href="/signIn"><i class="glyphicon glyphicon-user"></i> Sign In</a>
					<a class="btn btn-bullpen" href="/signUp"><i class="glyphicon glyphicon-pencil"></i> Sign Up</a>
				</div>
				<div class="bullpen-user-account" data-ng-show="hasAccount">
					<span>Hi, <a href="/account">{{name}}!</a></span>
					<a data-ng-show="accountType == 'manager' || accountType == 'admin'" class="btn btn-bullpen" href="/addgame">Add Game </a>
					<a class="btn btn-bullpen" data-ng-click="logOut()">Log Out</a>
				</div>
			</div>
		</div>

		<div class="header_line">
			<hr />
		</div>
	</div>
</nav>


<div class="container">
	<div class="warning-msg" data-ng-show="errorMessage.length > 0">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		{{errorMessage}}
	</div>
</div>
