<!DOCTYPE html>
<html>
	<head>
		<title>The Bullpen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- angular library and source files -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="/angular/main.js"></script>
		<script src="/angular/homePage.js"></script>

		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Boot Strap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- all the style for the whole website -->
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body data-ng-app="mainApp">
		<div data-ng-controller="header">
			<div data-ng-include="'/html/header.htm'"></div>
		</div>
		<div data-ng-controller="homePage">
			<div class="container">
				<div class="row home-page">
					<div class="col-sm-12 col-md-6">
						<h2><span>Games</span></h2>
						<div class="list-group">
							<a ng-repeat="game in games" ng-href="/game/{{game.gameId}}" class="list-group-item">
								{{formattedDate(game.gameTime)}}: {{game.awayTeam}}&nbsp;
								{{game.awayScore}} @ {{game.homeScore}} {{game.homeTeam}}</a>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<h2><span>Standings</span></h2>
						<div class="list-group">
							<a ng-repeat="team in standings" ng-href="/team/{{team.teamName}}" class="list-group-item">
								{{team.teamName}}: {{team.wins}} <span class="label ng-binding label-success">Wins</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div data-ng-controller="footer">
			<div data-ng-include="'/html/footer.htm'"></div>
		</div>
	</body>
</html>
