<!DOCTYPE html>
<html>
	<head>
		<title>The Bullpen: My Account</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- angular library and source files -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="/angular/main.js"></script>
		<script src="/angular/account.js"></script>

		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Boot Strap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- all the style for the whole website -->
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body data-ng-app="mainApp">
		<div data-ng-controller="header">
			<div data-ng-include="'/html/header.htm'"></div>
		</div>
		<div data-ng-controller="account">
			<div class="container">
				<div class="row user-account">
					<div class="col-md-12">
						<h2><span>Hello {{name}}!</span></h2>
						<h3 data-ng-show="accountType == 'manager' || accountType == 'admin'">You are a{{(accountType == 'admin')? 'n': ''}} {{accountType}}<span data-ng-show="team.length > 0"> for <a data-ng-href="/team/{{team}}">{{team}}</a></span>!</h3>
					</div>

					<!-- show your most recent upgrade request -->
					<div class="col-md-12 upgrade-request" data-ng-show="request.requestId">
						<h4>
							<span>Most recent upgrade request</span>
						</h4>
						<span>Submitted on <span class="time">{{request.time.toLocaleDateString()}}</span>.</span><br />
						<span>To be a{{(accountType == 'admin')? 'n': ''}} {{request.upgradeTo}}<span ng-if="request.upgradeTo == 'manager'"> of {{request.teamName}}</span>.</span><br />
						Status:
						<span class="label label-default" ng-show="!request.processor">
							Pending
						</span>
						<span ng-show="request.processor">
							<span class="label label-success" ng-show="request.acceptStatus">Accepted</span>
							<span class="label label-danger" ng-show="!request.acceptStatus">Denied</span>
						</span>
					</div>

					<!-- submit an upgrade request -->
					<div class="col-md-12" ng-show="accountType == 'basic' && (!request.requestId || request.processor)">
						<h4>
							<span>Submit an upgrade request</span>
						</h4>

						<form novalidate>
							<div class="form-group row ">
								<label class="col-xs-12 col-sm-12 col-md-12"><input type="radio" name="upgradeType" value="admin" ng-model="upgradeRequest.type"/> Admin</label>
							</div>
							<div class="form-group row">
								<label class="col-xs-12 col-sm-3 col-md-2"><input type="radio" name="upgradeType" value="manager" ng-model="upgradeRequest.type"/> Manager of: </label>
								<div class="col-xs-12 col-sm-4 col-md-4">
									<select ng-model="upgradeRequest.team" ng-options="y for y in teams">
										<option value="">Please select team</option>
									</select>
								</div>
							</div>
							<div class="form-group row col-md-12">

								<input ng-disabled ="!upgradeRequest.type || (upgradeRequest.type=='manager' && !upgradeRequest.team)" class="btn btn-bullpen" type="button" ng-click="submitUpgradeFrom()" value="submit a upgrade request" disabled="disabled">
							</div>
						</form>
					</div>

					<!-- accept or deny any upgrade request -->
					<div class="col-md-12" data-ng-show="accountType == 'admin'">
						<h4>
							<span>Pending requests:</span>
						</h4>
						<div data-ng-repeat="pendingRequest in pendingRequests">
							<span>Submitted on <span class="time">{{pendingRequest.requestTime.toLocaleDateString()}}</span>.</span><br />
							<span>{{pendingRequest.username}} requests to become a{{(pendingRequest.upgradeTo == 'admin')? 'n': ''}} {{pendingRequest.upgradeTo}}<span data-ng-show="pendingRequest.teamName.length > 0"> for {{pendingRequest.teamName}}</span>.</span><br />
							<a class="label label-success" data-ng-click="respondToRequest(pendingRequest.requestId, true);">Accept</a>&nbsp;
							<a class="label label-danger" data-ng-click="respondToRequest(pendingRequest.requestId, false);">Deny</a>
						</div>
						<div class="warning-msg" data-ng-show="pendingRequests.length == 0">
							There is no request.
						</div>
					</div>

					<!-- add a player to a team -->
					<div class="col-md-12" data-ng-show="accountType == 'manager'">
						<h4>
							<span>Add a player to {{team}}</span>
						</h4>
						<form novalidate name="addPlayerForm">
							<div class="form-group row">
								<label class="col-xs-4 col-sm-3 col-md-2">
									First name: </label>
								<div class="col-xs-6 col-sm-4 col-md-4">
									<input type="text" patern="^([a-zA-Z]+)$" ng-model="addPlayer.firstName" required>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-xs-4 col-sm-3 col-md-2">
									Last name: </label>
								<div class="col-xs-6 col-sm-4 col-md-4">
									<input type="text" patern="^([a-zA-Z]+)$" ng-model="addPlayer.lastName" required>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-xs-4 col-sm-3 col-md-2">
									Player number: </label>
								<div class="col-xs-6 col-sm-4 col-md-4">
									<input type="number" ng-model="addPlayer.number" required>
								</div>
							</div>

							<input ng-disabled="addPlayerForm.$invalid" data-ng-click="addPlayer();" value="Submit" class="btn btn-bullpen">
						</form>
					</div>

				</div>
			</div>
		</div>
		<div data-ng-controller="footer">
			<div data-ng-include="'/html/footer.htm'"></div>
		</div>
	</body>
</html>
