<!DOCTYPE html>
<html>
	<head>
		<title>The Bullpen: Add A Game</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- angular library and source files -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="/angular/main.js"></script>
		<script src="/angular/addGamePage.js"></script>

		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Boot Strap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- all the style for the whole website -->
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body data-ng-app="mainApp">
		<div data-ng-controller="header">
			<div data-ng-include="'/html/header.htm'"></div>
		</div>
		<div data-ng-controller="addGamePage">
			<div class="container">
				<form name="addGameForm" novalidate>
					<div class="row">
						<div ng-hide="teamsSelected">
							<div class="form-group row">
								<label class="col-xs-3 col-form-label">Away Team: </label>
								<div class="col-xs-9 col-sm-4 col-md-4">
									<select class="input-large" ng-model="awayTeam" ng-options="y for y in awayTeams" ng-change="updateTeams()">
										<option value="">Please select away team</option>
									</select>
								</div>
							</div>
							<div class="form-group row" ng-show="accountTypeAdmin">
								<label class="col-xs-3 col-form-label">Home Team: </label>
								<div class="col-xs-9 col-sm-4 col-md-4">
									<select ng-model="homeTeam" ng-options="x for x in homeTeams" ng-change="updateTeams()">
										<option value="">Please select home team</option>
									</select>
								</div>
							</div>

							<input ng-disabled="!(homeTeam && awayTeam)" class="btn btn-bullpen" type="button" ng-click="selectTeams()" value="Select Teams">

						</div>
					</div>

					<div class="row">

						<div class="col-md-12" ng-show="teamsSelected">

							<div class="row">
								<div class="game-score" style="text-align: center">
									<div class="col-md-12">
										<h3><a ng-href="/team/{{awayTeam}}">{{awayTeam}}</a> {{awayScore}} - {{homeScore}} <a ng-href="/team/{{homeTeam}}">{{homeTeam}}</a></h3>
									</div>

									<div>
										Number of innings: <input type="number" min="1" max="99" ng-model="numInnings" required>
									</div>

									<div class="col-md-12">
										{{awayTeam}} Runs: <input type="number" min = 0 max="99" ng-model="awayScore" required>
									</div>

									<div class="col-md-12">
										{{homeTeam}} Runs: <input type="number" min="0" max="99" ng-model="homeScore" required>
									</div>

									<div>
										<input type="button" class="btn btn-bullpen" value="Double Click to Reset Teams" ng-dblclick="resetTeams()">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<h4><span>{{awayTeam}} Offense</span></h4>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>Player</th>
													<th>PA</th>
													<th>AB</th>
													<th>1B</th>
													<th>2B</th>
													<th>3B</th>
													<th>HR</th>
													<th>uBB</th>
													<th>iBB</th>
													<th>K</th>
													<th>HBP</th>
													<th>SF</th>
													<th>R</th>
													<th>RBI</th>
													<th>SB</th>
													<th>CS</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="player in awayPlayers.offensive">
													<td>
														<select ng-model="player.playerId" ng-hide="player.playerId"
																ng-change="updatePlayerList(player.playerId, true, false)"
																ng-options="x.playerId as ('#' + x.num + ' ' + x.name) for x in awayTeamBatters"
																required>

														</select>
														<span ng-show="player.playerId">{{getPlayerInfo(player.playerId, false)}}</span>
													</td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.PA"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.AB"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.B1"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.B2"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.B3"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.HR"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.uBB"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.iBB"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.K"
															   ng-disabled="player.playerId == null" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.HBP"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.SF"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.R"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.RBI"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.SB"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.CS"
															   ng-disabled="!player.playerId" required></td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="form-group row">
										<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-form-label">
											<input type="button" class="btn btn-bullpen" value="Add {{awayTeam}} Batter" ng-disabled="!awayBatterAdded"
												   ng-click="addPlayerToGame(true, false)" ng-show="awayTeamBatters.length > 0">
										</div>
										<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
											<input type="button" class="btn btn-bullpen" value="Double Click to Reset {{awayTeam}} Batters"
												   ng-dblclick="resetPlayers(true, false)">
										</div>
									</div>



									<h4><span>{{homeTeam}} Offense</span></h4>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>Player</th>
													<th>PA</th>
													<th>AB</th>
													<th>1B</th>
													<th>2B</th>
													<th>3B</th>
													<th>HR</th>
													<th>uBB</th>
													<th>iBB</th>
													<th>K</th>
													<th>HBP</th>
													<th>SF</th>
													<th>R</th>
													<th>RBI</th>
													<th>SB</th>
													<th>CS</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="player in homePlayers.offensive">
													<td>
														<select ng-model="player.playerId" ng-hide="player.playerId"
																ng-change="updatePlayerList(player.playerId, true, true)"
																ng-options="x.playerId as ('#' + x.num + ' ' + x.name) for x in homeTeamBatters"
																required>
														</select>
														<span ng-show="player.playerId">{{getPlayerInfo(player.playerId, true)}}</span>
													</td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.PA"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.AB"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.B1"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.B2"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.B3"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.HR"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.uBB"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.iBB"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.K"
															   ng-disabled="player.playerId == null" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.HBP"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.SF"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.R"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.RBI"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.SB"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.CS"
															   ng-disabled="!player.playerId" required></td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="form-group row">
										<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-form-label">
											<input type="button" class="btn btn-bullpen" value="Add {{homeTeam}} Batter" ng-disabled="!homeBatterAdded"
												   ng-click="addPlayerToGame(true, true)" ng-show="homeTeamBatters.length > 0">
										</div>
										<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
											<input type="button" class="btn btn-bullpen" value="Double Click to Reset {{homeTeam}} Batters"
												   ng-dblclick="resetPlayers(true, true)">
										</div>
									</div>




									<h4><span>{{awayTeam}} Pitching</span></h4>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>Player</th>
													<th>IP</th>
													<th>H</th>
													<th>HR</th>
													<th>K</th>
													<th>BB</th>
													<th>HBP</th>
													<th>R</th>
													<th>ER</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="player in awayPlayers.defensive">
													<td>
														<select ng-model="player.playerId" ng-hide="player.playerId"
																ng-change="updatePlayerList(player.playerId, false, false)"
																ng-options="x.playerId as ('#' + x.num + ' ' + x.name) for x in awayTeamPitchers"
																required>
														</select>
														<span ng-show="player.playerId">{{getPlayerInfo(player.playerId, false)}}</span>
													</td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.IP"
															   ng-disabled="!player.playerId" required>.
														<input type="number" min="0" max="2" ng-model="player.stats.IPfrac"
															   ng-disabled="!player.playerId" required>
													</td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.H"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.HR"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.K"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.BB"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.HBP"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.R"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.ER"
															   ng-disabled="!player.playerId" required></td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="form-group row">
										<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-form-label">
											<input type="button" class="btn btn-bullpen" value="Add {{awayTeam}} Pitcher" ng-disabled="!awayPitcherAdded"
												   ng-click="addPlayerToGame(false, false)" ng-show="awayTeamPitchers.length > 0">
										</div>
										<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
											<input type="button" class="btn btn-bullpen" value="Double Click to Reset {{awayTeam}} Pitchers"
												   ng-dblclick="resetPlayers(false, false)">
										</div>
									</div>


									<h4><span>{{homeTeam}} Pitching</span></h4>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>Player</th>
													<th>IP</th>
													<th>H</th>
													<th>HR</th>
													<th>K</th>
													<th>BB</th>
													<th>HBP</th>
													<th>R</th>
													<th>ER</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="player in homePlayers.defensive">
													<td>
														<select ng-model="player.playerId" ng-hide="player.playerId"
																ng-change="updatePlayerList(player.playerId, false, true)"
																ng-options="x.playerId as ('#' + x.num + ' ' + x.name) for x in homeTeamPitchers"
																required>
														</select>
														<span ng-show="player.playerId">{{getPlayerInfo(player.playerId, true)}}</span>
													</td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.IP"
															   ng-disabled="!player.playerId" required>.
														<input type="number" min="0" max="2" ng-model="player.stats.IPfrac"
															   ng-disabled="!player.playerId" required>
													</td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.H"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.HR"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.K"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.BB"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.HBP"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.R"
															   ng-disabled="!player.playerId" required></td>
													<td><input type="number" min="0" max="99" ng-model="player.stats.ER"
															   ng-disabled="!player.playerId" required></td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="form-group row">
										<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-form-label">
											<input type="button" class="btn btn-bullpen" value="Add {{homeTeam}} Pitcher" ng-disabled="!homePitcherAdded"
												   ng-click="addPlayerToGame(false, true)" ng-show="homeTeamPitchers.length > 0">
										</div>
										<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
											<input type="button" class="btn btn-bullpen" value="Double Click to Reset {{homeTeam}} Pitchers"
												   ng-dblclick="resetPlayers(false, true)">
										</div>
									</div>


								</div>
								<div class="col-md-12">
									<button type="submit" class="btn btn-bullpen" data-toggle="modal" data-target="#pickPitchers"
											ng-disabled="addGameForm.$invalid || (homeScore == awayScore)">
										<i class="glyphicon glyphicon-ok"></i> Submit
									</button>
								</div>
							</div>
						</div>

					</div>
				</form>


			</div>
			<div id="pickPitchers" class="modal fade submitModal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Pick Pitchers</h4>
						</div>
						<div class="modal-body">
							<form name="pickPitchersForm" novalidate>
								<div class="form-group row">
									<label class="col-xs-12 col-sm-6 col-md-6 col-form-label">{{awayTeam}} Starting Pitcher:</label>
									<div class="col-xs-12 col-sm-6 col-md6">
										<select ng-model="awayStarter"
												ng-options="x.playerId as ('#' + x.num + ' ' + x.name) for x in getTeamPitchersByHome(false)"
												required>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-xs-12 col-sm-6 col-md-6 col-form-label">{{homeTeam}} Starting Pitcher:</label>
									<div class="col-xs-12 col-sm-6 col-md6">
										<select ng-model="homeStarter"
												ng-options="x.playerId as ('#' + x.num + ' ' + x.name) for x in getTeamPitchersByHome(true)"
												required>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-xs-12 col-sm-6 col-md-6 col-form-label">Winning Pitcher:</label>
									<div class="col-xs-12 col-sm-6 col-md6">
										<select ng-model="winningPitcher"
												ng-options="x.playerId as ('#' + x.num + ' ' + x.name) for x in getTeamPitchersByWin(true)"
												required>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-xs-12 col-sm-6 col-md-6 col-form-label">Losing Pitcher:</label>
									<div class="col-xs-12 col-sm-6 col-md6">
										<select ng-model="losingPitcher"
												ng-options="x.playerId as ('#' + x.num + ' ' + x.name) for x in getTeamPitchersByWin(false)"
												required>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-xs-12 col-sm-6 col-md-6 col-form-label">Save:</label>
									<div class="col-xs-12 col-sm-6 col-md6">
										<select ng-model="savePitcher"
												ng-options="x.playerId as ('#' + x.num + ' ' + x.name) for x in getTeamPitchersByWin(true)">
										</select>
									</div>
								</div>

								<div  style="text-align: right">
									<input class="btn btn-primary" type="submit" ng-click="submit()" ng-hide="loading"
										   ng-disabled="pickPitchersForm.$invalid">

									<div class="loader" ng-show="loading"></div>
									<div style="clear: both;"></div>
								</div>

								<div ng-show="submitError" class="alert alert-danger">
									{{code}}: Error Adding Game :(
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-controller="footer">
			<div data-ng-include="'/html/footer.htm'"></div>
		</div>
	</body>
</html>
