<!DOCTYPE html>
<html>

	<head>
		<title>The Bullpen: Game Played</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- angular library and source files -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="/angular/main.js"></script>
		<script src="/angular/gamePage.js"></script>

		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Boot Strap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- all the style for the whole website -->
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body data-ng-app="mainApp">
		<div data-ng-controller="header">
			<div data-ng-include="'/html/header.htm'"></div>
		</div>
		<div data-ng-controller="gamePage">
			<div class="container">
				<div class="row">
					<div class="game-score">
						<div class="col-md-12">
							Game Date: {{gameTime}}
						</div>

						<div class="col-md-12">
							<h3><a ng-href="/team/{{awayTeam}}">{{awayTeam}}</a> {{awayScore}} - {{homeScore}} <a ng-href="/team/{{homeTeam}}">{{homeTeam}}</a></h3>
						</div>

						<div>
							Number of Innings: {{numInnings}}
						</div>

						<div class="col-md-12">
							W: <a ng-href="/player/{{winPitchID}}">{{winningPitcher}}</a>
							L: <a ng-href="/player/{{losePitchID}}">{{losingPitcher}}</a>
						</div>

						<div data-ng-show="savePitcher">
							S: <a ng-href="/player/{{svPitchID}}">{{savePitcher}}</a>
						</div>

						<div>
							{{awayTeam}} Hits: {{awayHits}}
							{{homeTeam}} Hits: {{homeHits}}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="team-name"><h3><span>{{awayTeam}} Players</span></h3></div>
						<h4><span>Batters</span></h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>AB</th>
										<th>H</th>
										<th>1B</th>
										<th>2B</th>
										<th>3B</th>
										<th>HR</th>
										<th>BB</th>
										<th>K</th>
										<th>HBP</th>
										<th>SF</th>
										<th>R</th>
										<th>RBI</th>
										<th>SB</th>
										<th>CS</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="player in awayPlayers.offensive">
										<td><a ng-href="/player/{{player.playerId}}">{{player.name}}</a></td>
										<td>{{player.stats.AB}}</td>
										<td>{{player.stats.H}}</td>
										<td>{{player.stats.B1}}</td>
										<td>{{player.stats.B2}}</td>
										<td>{{player.stats.B3}}</td>
										<td>{{player.stats.HR}}</td>
										<td>{{player.stats.BB}}</td>
										<td>{{player.stats.K}}</td>
										<td>{{player.stats.HBP}}</td>
										<td>{{player.stats.SF}}</td>
										<td>{{player.stats.R}}</td>
										<td>{{player.stats.RBI}}</td>
										<td>{{player.stats.SB}}</td>
										<td>{{player.stats.CS}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h4><span>Pitchers</span></h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>IP</th>
										<th>H</th>
										<th>R</th>
										<th>ER</th>
										<th>K</th>
										<th>BB</th>
										<th>HR</th>
										<th>HBP</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="player in awayPlayers.defensive">
										<td><a ng-href="/player/{{player.playerId}}">{{player.name}}</a></td>
										<td>{{player.stats.IP}}.{{player.stats.IPfrac}}</td>
										<td>{{player.stats.H}}</td>
										<td>{{player.stats.R}}</td>
										<td>{{player.stats.ER}}</td>
										<td>{{player.stats.K}}</td>
										<td>{{player.stats.BB}}</td>
										<td>{{player.stats.HR}}</td>
										<td>{{player.stats.HBP}}</td>
									</tr>

							</table>
						</div>
					</div>

					<div class="col-md-6">
						<div class="team-name"><h3><span>{{homeTeam}} Players</span></h3></div>
						<h4><span>Batters</span></h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>AB</th>
										<th>H</th>
										<th>1B</th>
										<th>2B</th>
										<th>3B</th>
										<th>HR</th>
										<th>BB</th>
										<th>K</th>
										<th>HBP</th>
										<th>SF</th>
										<th>R</th>
										<th>RBI</th>
										<th>SB</th>
										<th>CS</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="player in homePlayers.offensive">
										<td class="player-name"><a ng-href="/player/{{player.playerId}}">{{player.name}}</a></td>
										<td>{{player.stats.AB}}</td>
										<td>{{player.stats.H}}</td>
										<td>{{player.stats.B1}}</td>
										<td>{{player.stats.B2}}</td>
										<td>{{player.stats.B3}}</td>
										<td>{{player.stats.HR}}</td>
										<td>{{player.stats.BB}}</td>
										<td>{{player.stats.K}}</td>
										<td>{{player.stats.HBP}}</td>
										<td>{{player.stats.SF}}</td>
										<td>{{player.stats.R}}</td>
										<td>{{player.stats.RBI}}</td>
										<td>{{player.stats.SB}}</td>
										<td>{{player.stats.CS}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h4><span>Pitchers</span></h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>IP</th>
										<th>H</th>
										<th>R</th>
										<th>ER</th>
										<th>K</th>
										<th>BB</th>
										<th>HR</th>
										<th>HBP</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="player in homePlayers.defensive">
										<td ><a ng-href="/player/{{player.playerId}}">{{player.name}}</a></td>
										<td>{{player.stats.IP}}.{{player.stats.IPfrac}}</td>
										<td>{{player.stats.H}}</td>
										<td>{{player.stats.R}}</td>
										<td>{{player.stats.ER}}</td>
										<td>{{player.stats.K}}</td>
										<td>{{player.stats.BB}}</td>
										<td>{{player.stats.HR}}</td>
										<td>{{player.stats.HBP}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-controller="footer">
			<div data-ng-include="'/html/footer.htm'"></div>
		</div>
	</body>

</html>
