<!DOCTYPE html>
<html>
	<head>
		<title>The Bullpen: Player</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- angular library and source files -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="/angular/main.js"></script>
		<script src="/angular/playerPage.js"></script>

		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Boot Strap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- all the style for the whole website -->
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body data-ng-app="mainApp">
		<div data-ng-controller="header">
			<div data-ng-include="'/html/header.htm'"></div>
		</div>
		<div data-ng-controller="playerPage">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2><span>#{{uniformNumber}} {{playerName}}</span></h2>
					</div>
					<div class="col-md-12">
						<h3>Team: <a ng-href="/team/{{team}}">{{team}}</a></h3>
					</div>

					<div class="col-md-12" data-ng-show="games > 0">
						<h4><span>Offensive Stats:</span></h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>G</th>
										<th>PA</th>
										<th>AVG</th>
										<th>OBP</th>
										<th>1B</th>
										<th>2B</th>
										<th>3B</th>
										<th>HR</th>
										<th>H</th>
										<th>BB</th>
										<th>HBP</th>
										<th>K</th>
										<th>BB%</th>
										<th>K%</th>
										<th>SF</th>
										<th>R</th>
										<th>RBI</th>
										<th>SB</th>
										<th>CS</th>
										<th>SB%</th>
										<th>BABIP</th>
										<th>wOBA</th>
										<th>wRC+</th>
									</tr>

								</thead>
								<tbody>
									<tr>
										<td>{{games}}</td>
										<td>{{plateAppearances}}</td>
										<td>{{avg}}</td>
										<td>{{obp}}</td>
										<td>{{singles}}</td>
										<td>{{doubles}}</td>
										<td>{{triples}}</td>
										<td>{{homers}}</td>
										<td>{{hits}}</td>
										<td>{{walks}}</td>
										<td>{{hbp}}</td>
										<td>{{strikeouts}}</td>
										<td>{{bbPercent}}</td>
										<td>{{kPercent}}</td>
										<td>{{sacFlies}}</td>
										<td>{{runs}}</td>
										<td>{{rbi}}</td>
										<td>{{sb}}</td>
										<td>{{cs}}</td>
										<td>{{sbPercent}}</td>
										<td>{{babip}}</td>
										<td>{{wOBA}}</td>
										<td>{{wRCplus}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-md-12 " data-ng-show="pGames > 0">
						<h4><span>Pitching Stats:</span></h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>G</th>
										<th>GS</th>
										<th>IP</th>
										<th>W</th>
										<th>L</th>
										<th>SV</th>
										<th>H</th>
										<th>HR</th>
										<th>K</th>
										<th>BB</th>
										<th>HBP</th>
										<th>K/9</th>
										<th>BB/9</th>
										<th>R</th>
										<th>ER</th>
										<th>ERA</th>
										<th>FIP</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{pGames}}</td>
										<td>{{pGamesStarted}}</td>
										<td>{{pIP}}.{{pPartialIP}}</td>
										<td>{{pWins}}</td>
										<td>{{pLosses}}</td>
										<td>{{pSaves}}</td>
										<td>{{pHits}}</td>
										<td>{{pHomers}}</td>
										<td>{{pStrikeouts}}</td>
										<td>{{pWalks}}</td>
										<td>{{pHBP}}</td>
										<td>{{pK9}}</td>
										<td>{{pBB9}}</td>
										<td>{{pRuns}}</td>
										<td>{{pEarnedRuns}}</td>
										<td>{{pERA}}</td>
										<td>{{pFIP}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-md-12">
						<h4 data-ng-show="pGames == 0 && games == 0"><span>No Stats To Show.</span></h4>
					</div>

					<div class="col-md-12 recent-game">
						<h4><span>{{(recentGames.length == 0)? 'No Recent Games': 'Recent Games:'}}</span></h4>
						<div data-ng-show="recentGames.length > 0" data-ng-repeat="game in recentGames">
							<a ng-href="/game/{{game.gameId}}">
								<span ng-show="isAwayGame(game)" class="badge">Away</span>
								<span ng-hide="isAwayGame(game)" class="badge">Home</span>
								<span class="recent-game-date">{{formattedDate(game.gameTime)}}</span>:
								{{getTeamName(game, team)}},
								{{getFormattedScore(game)}} &nbsp;
								<span class="label" ng-class="{'label-danger': getOutcome(game, team) == 'L', 'label-success': getOutcome(game, team) == 'W'}">{{getOutcome(game, team)}}</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-controller="footer">
			<div data-ng-include="'/html/footer.htm'"></div>
		</div>
	</body>
</html>
