<!DOCTYPE html>
<html>
	<head>
		<title>The Bullpen: Sign In</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- angular library and source files -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="/angular/main.js"></script>
		<script src="/angular/signIn.js"></script>

		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Boot Strap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- all the style for the whole website -->
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body data-ng-app="mainApp">
		<div data-ng-controller="header">
			<div data-ng-include="'/html/header.htm'"></div>
		</div>
		<div data-ng-controller="signIn">
			<div class="container">
				<!-- Page Specific code goes here -->
				<div data-ng-show="error" class="warning-msg">There was an error Signing In.</div>

				<form novalidate name="signInForm" id="signInForm">
					<div class="row">
						<div class="form-group row col-md-12">
							<label class="col-xs-3 col-form-label">Username: </label>
							<div class="col-xs-9 col-sm-4 col-md-4">
								<input type="text" ng-model="myForm.username" name="username" required />
							</div>
						</div>

						<div class="form-group row col-md-12" ng-show="signInForm.username.$error.required && signInForm.username.$touched">
							<label class="col-xs-12 col-md-5 col-form-label">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span class="required">Username is required.</span>
							</label>
						</div>


						<div class="form-group row col-md-12">
							<label class="col-xs-3 col-form-label">Password: </label>
							<div class="col-xs-9 col-sm-4 col-md-4">
								<input type="password" ng-model="myForm.password" name="password" required />
							</div>
						</div>

						<div class="form-group row col-md-12" ng-show="signInForm.password.$error.required && signInForm.password.$touched">
							<label class="col-xs-12 col-md-5 col-form-label">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span class="required">How do you plan on signing in without a password?</span>
							</label>
						</div>

						<div class="col-md-12">
							<input type="submit" data-ng-disabled="signInForm.username.$error.required || signInForm.password.$error.required" class="btn btn-bullpen" ng-click="submitSignIn()" value="Sign In" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div data-ng-controller="footer">
			<div data-ng-include="'/html/footer.htm'"></div>
		</div>
	</body>
</html>
