<!DOCTYPE html>
<html>
	<head>
		<title>The Bullpen: Team</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- angular library and source files -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="/angular/main.js"></script>
		<script src="/angular/teamPage.js"></script>

		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Boot Strap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- all the style for the whole website -->
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body data-ng-app="mainApp">
		<div data-ng-controller="header">
			<div data-ng-include="'/html/header.htm'"></div>
		</div>
		<div data-ng-controller="teamPage">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<h2> <span>Team: {{teamName}}</span></h2>
					</div>

					<div class="col-md-12">
						<h3>WINS: {{teamWins}} LOSSES: {{teamLosses}}</h3>
					</div>

					<div class="col-md-12 team-players">
						<h3><span>Players:</span></h3>


						<div class="list-group">
							<a data-ng-repeat="player in players" ng-href="/player/{{player.playerId}}" class="list-group-item">#{{player.num}} {{player.name}}</a>
						</div>
					</div>


					<div class="col-md-12 recent-game">
						<h3><span>Recent Games:</span></h3>
						<div data-ng-repeat="game in games">
							<a ng-href="/game/{{game.gameId}}">
								<span ng-show="isAwayTeam(game)" class="badge">Away</span>
								<span ng-hide="isAwayTeam(game)" class="badge">Home</span>
								<span class="recent-game-date">{{formattedDate(game.gameTime)}}</span>:
								{{getTeamName(game, teamName)}},
								{{getFormattedScore(game)}} &nbsp
								<span class="label" ng-class="{'label-danger': getOutcome(game, teamName) == 'L', 'label-success': getOutcome(game, teamName) == 'W'}">{{getOutcome(game, teamName)}}</span>
							</a>
						</div>
					</div>


				</div>


			</div>
		</div>
		<div data-ng-controller="footer">
			<div data-ng-include="'/html/footer.htm'"></div>
		</div>
	</body>
</html>
